
@{
    ViewData["Title"] = "نسيان كلمه المرور";
}

<h1 style="direction:rtl">@ViewData["Title"]</h1>

<p style="direction:rtl">
    الرجاء النقر على الرابط المرسل الى البريد الالكترونى الخاص بك لاعاده كلمه المرور
    <a  href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" target="_blank">اضغط هنا</a>
</p>
