
@{
    ViewData["Title"] = "تاكيد تغيير كلمه المرور";
}

<h1 style="direction:rtl">@ViewData["Title"]</h1>

<p style="direction:rtl">
    لقد تم تغيير كلمه المرور بنجاح 
</p>
<br />

<a asp-controller="Account" asp-action="Login" class="btn btn-primary px-lg-5">تسجيل الدخول</a>

