@model AccountVM
@{
    ViewData["Title"] = "نسيان كلمه المرور";
}

<h1 style="direction:rtl">@ViewData["Title"]</h1>


<div class="row" style="direction:rtl">
   
    <h4>ادخال البريد الالكترونى الخاص بك</h4>

    <h5 class="text-danger">@ViewData["error"]</h5>
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="ForgetPassword">

            <div class="form-group">
                <label asp-for="Email">البريد الالكترونى</label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div><br />
            <button type="submit" class="btn btn-primary px-lg-5">ارسال</button>

        </form>
    </div>
</div>

@section ValidationScripts
{
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}