@model AccountVM

@{ ViewData["Title"] = "اشتراك جديد"; }

<h1>@ViewData["Title"]</h1>

<div class="row container" style="font-family:cairo, sans-serif" dir="rtl">
    
    <h4>انشاء حساب جديد فى الموقع</h4>
    
    <div class="col-md-4">  
        <form asp-controller="Account" asp-action="Registration" class="form-group">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="UserName">اسم المستخدم</label>
                <input type="text" asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email"> البريد الالكترونى</label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">كلمه المرور</label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword">تاكيد كلمه المرور</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="btn btn-primary px-lg-5">اشتراك</button>
            <br />
        </form>
    </div>
</div>


@section ValidationScripts
{
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}