@model AccountVM
@{
    ViewData["Title"] = "اعادة كلمه المرور";
}

<h1 style="direction:rtl">@ViewData["Title"]</h1>

<h3 style="direction:rtl" class="text-danger">@ViewData["error"]</h3>

<div class="row" style="direction:rtl">
    <div class="col-md-4" style="direction:rtl">
        <form asp-controller="Account" asp-action="Resetpassword">

            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="text" hidden asp-for="Token" />
            <input type="text" hidden asp-for="UserName" />
            <div class="form-group">
                <label asp-for="Email">البريد الالكترونى</label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">كلمه المرور</label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">تاكيد كلمه المرور</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">حفظ</button>
        </form>
    </div>
</div>


@section ValidationScripts
{
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}